body{
    background-color: black;
    color: white;
}
.card-div{
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    height: 200px;
    width: 200px;
    border: 2px solid;
    border-color: white;
    border-radius: 15px; 
}
a{
    text-decoration: none;
    color:  white;
}


