*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main{
    width: 100%;
    height: 700px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    width: 70%;
    height: 600px;
    background-color: lightslategray;
    overflow: hidden;
    position: relative;
}

.buttons{
    width: 100%;
    height: 70px;
    /* background-color: black; */
    position: absolute;
    top: 265px;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    
}

.btn{
    width: 70px;
    height: 70px;
    /* background-color: red; */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 50%;
    color: whitesmoke;
    cursor: pointer;
}

.carousel{
    height: 600px;
    width: 600%;
    /* background-color: rgba(173, 174, 175, 0.57); */
    display: flex;
    margin-left: -100%;
}

.slides{
    width: 20%;
    height: 100%;
    background-color: yellow;
    font-size: 100px;
    border: solid 1px black;
    overflow: hidden;
}
.slides-img{    
    width: 100%;
    /* margin-top: -200px; */
}
