*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    width: 100%;
    padding: 50px 10%;
    /* background-color: rgb(223, 221, 221); */
}

.container{
    width: 100%;
    padding: 20px;
    /* background-color: red; */
}

.header{
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}
.heading{
    text-transform: uppercase;
    font-weight: 400;
}

.search{
    width: 20%;
    font-size: 20px;
    text-indent: 20px;
    outline: none;
    border-radius: 10px;
    border: solid 1px rgb(146, 146, 146)
}

/* --- pagination ---- */

.pagination{
    width: 100%;
    padding: 5px;
    /* background-color: rgb(156, 153, 153); */
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.pagination button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.nums{
    display: flex;
    column-gap: 10px;
}

/* -------- TABLE-------- */

.table{
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
}
th, td{
    font-size: 20px;
    border: 2px solid rgb(209, 208, 208);
    padding: 10px;
    text-align: center;
}